html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



* {
    list-style: none;
}

a {
    color: #aeaeae;
}


.hero {
    background: rgb(242,216,121); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(242,216,121,1) 7%, rgba(243,193,8,1) 49%, rgba(201,154,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(7%,rgba(242,216,121,1)), color-stop(49%,rgba(243,193,8,1)), color-stop(100%,rgba(201,154,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,216,121,1) 7%,rgba(243,193,8,1) 49%,rgba(201,154,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(242,216,121,1) 7%,rgba(243,193,8,1) 49%,rgba(201,154,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(242,216,121,1) 7%,rgba(243,193,8,1) 49%,rgba(201,154,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(242,216,121,1) 7%,rgba(243,193,8,1) 49%,rgba(201,154,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2d879', endColorstr='#c99a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
;
    margin-top: -20px;
}

.hero-logo {
    opacity:0;
    -moz-transition: opacity 3s; /* Firefox 4 */
    -webkit-transition: opacity 3s; /* Safari and Chrome */
    -o-transition: opacity 3s;
    transition: opacity 3s;
}


img {
    margin: 0 auto;
}


.lead {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 5px;
}

hr {
    margin-top: 5px;
    margin-bottom: 40px;
    border: 0;
    border-top: 2px solid #eee;
    width: 85%;
}

.catergories {
    margin-bottom: 35px;
}

.icon-container img:hover {
    opacity: .8;
}


.section-two {
    background-color: #ebe9e2;
}

h2 {
    font-size: 40px;
    margin-top: 66px;
}

h3 {
    font-size: 3em;
    margin-top: 10px;
}

p {
    margin: -1px 0 66px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

button {
    border-radius: 3px;
    background-color: #2e2e2e;
    color: white;
    padding: 7px 35px;
    border: 1px;
}
.contact-info {
    padding-top: 15px;
    padding-left: 40px;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

.social a img {
    margin-right: 10px;
    margin-top: 3px;
    height: 20px;
}

footer {
    background-color: #231f20;
    color: white;
    padding-top: 20px;
}
.footer-logo {
    margin-right: 60px;
}

footer img {
    height: 60px;
    
}

footer p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #505050;
}

a:hover, button:hover{
    text-decoration: none;
    color: #f3c108;
}