

.copy p {
    margin-bottom: 20px;
}



/* CIRCLE ITEMS*/
.box-holder{
   width: 60%;
   float: left;
    margin-bottom: 60px;
}
.box {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    height: 140px;
    width: 140px;
    float: left;
    margin-right: 40px;
    position: relative;
    overflow: hidden;
    background-color: white;
    border-radius: 50%;
}

.box img {
   position: absolute;
   width: auto;
}

.box .fade-caption {
   position: absolute;
   z-index: 1;
   opacity: 0;
   width: 140px;
   height: 140px;
   text-align: center;
   background-color: rgba(34,34,34,.9);
}

.box .fade-caption h4 {
    padding-top: 40px;
    font-size: 14px;
   color:#f3c108;
}

.box:hover .fade-caption {
   opacity: .9;
    transition: opacity 0ms ease-out;
}